<div class="w3-bar w3-red w3-padding-large w3-card">
  <div class="w3-content">
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-hover-none w3-hide-large w3-hide-medium" onclick="w3.toggleClass('#mobileNav', 'w3-show');">
      <i class="fa fa-bars"></i>
    </a>
    <a href="/" class="w3-bar-item w3-button w3-hover-none">Product Demo</a>
    <form method="get" action="/">
      <button type="submit" class="w3-bar-item w3-button w3-hover-none w3-right w3-hide-small">
        <i class="fa fa-search"></i>
      </button>
      <input type="search" name="search" class="w3-bar-item w3-input w3-round-medium w3-margin-right w3-margin-left w3-right w3-medium w3-hide-small" placeholder="Search...">
    </form>
    <a href="admin.html" class="w3-bar-item w3-button w3-hover-none w3-hide-small w3-right">Admin</a>
    <a href="product.html" class="w3-bar-item w3-button w3-hover-none w3-hide-small w3-right">Products</a>
  </div>
</div>
<div id="mobileNav" class="w3-bar-block w3-pale-red w3-hide w3-hide-large w3-hide-medium">
  <form method="get" action="/">
    <input type="search" name="search" class="w3-bar-item w3-input w3-round-medium w3-margin-top w3-medium" placeholder="Search...">
  </form>
  <a href="#" class="w3-bar-item w3-button w3-hover-white">Products</a>
  <a href="admin.html" class="w3-bar-item w3-button w3-hover-white">Admin</a>
</div>
