<div class="w3-display-container w3-animate-zoom">
  <img class="slider w3-animate-opacity" src="public/images/1.jpg" width="100%">
  <img class="slider w3-animate-opacity" src="public/images/2.jpg" width="100%">
  <img class="slider w3-animate-opacity" src="public/images/3.jpg" width="100%">
  <button class="w3-button w3-transparent w3-xxlarge w3-display-left w3-text-white w3-hover-text-red w3-hover-none" onclick="slider.previous();">
    <i class="fa fa-chevron-left"></i>
  </button>
  <button class="w3-button w3-transparent w3-xxlarge w3-display-right w3-text-white w3-hover-text-red w3-hover-none" onclick="slider.next();">
    <i class="fa fa-chevron-right"></i></button>
</div>
